Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE".

# Week2 Assignments


This assignment has three components. Each of the first three components receives one point if all the tests pass. 
The last component on Pandas may require more effort, it consists of three subtasks, each of the subtasks receives 1 point.

All the exercises are designed so that the solutions will need only one or a few lines of code.

Some concepts may be new to you and may require digging into the Python, NumPy or Pandas documentation, the links are provided.

Do not hesitate to contact instuctors and TA via #week2 channel on Slack if you get stuck. Join the channel first by clicking on Channels.

## Part A. Create a missing function (1 point)

In this exercise you need to create a function __missing_link(x)__ that is passed to another function as an argument in order to perform a calculation.

We know the final result (see the assert operator), but we do not know the intermediate calculation leading to that result.

Read about Python built-in functions __all()__ and __zip()__
https://docs.python.org/3.3/library/functions.html

and about the iterators and generators here:
https://docs.python.org/3.3/library/stdtypes.html#typeiter

In [2]:
def calculate(func, it):
    """
    Performs calculation by applying *func* to each item of iterator *it*
    Returns a generator as a result.
    """
    return (2 * func(a) for a in it)

In [3]:
#if you change the parens to square brackets, it would return a LIST b/c square brackets make it a list function

In [8]:
def missing_link(x):
    """Define a function that will be passed to calculate() as an argument"""
    # YOUR CODE HERE
    list(calculate(lambda x:x**2, range(7)))
    pass

## You can check the result of the missing_link() function and of calculate() if you wish:
# print(list(map(missing_link, range(5))))
# print(list(calculate(missing_link, range(5))))

In [9]:
list(calculate(lambda x:x**2, range(7)))

[0, 2, 8, 18, 32, 50, 72]

In [29]:
def missing_link(x):
    """Define a function that will be passed to calculate() as an argument"""
    # YOUR CODE HERE
    return x**2

## You can check the result of the missing_link() function and of calculate() if you wish:
# print(list(map(missing_link, range(5))))
# print(list(calculate(missing_link, range(5))))

In [33]:
#ONCE A RETURN STATEMENT IS EVALUATED, NOTHING BELOW IS READ IN FUNCTION!!!

In [30]:
#type(missing_link(2.5))

In [31]:
#type(missing_link("a"))
#before you define missing link with the return function, you will get a "NoneType" output b/c there is nothing in it

In [32]:
_observed_results = calculate(missing_link, range(7))
_expected_results = [0, 2, 8, 18, 32, 50, 72]

assert all(a == b for a, b in zip(_observed_results, _expected_results))

In [ ]:
#now this does NOT cause an error, so it is working

## Part B. NumPy (1 point)

Define __x__ as a subdivision of an interval from -4 PI to 4 PI into 32 equal parts, i.e. with a PI/4 step. 

Including both endpoints that should give 33 points.

Using NumPy calculate __cos()__ and __sin()__ and find the values of 

__x__ where __cos(x)__ is equal to __sin(x)__ and store these values in the variable __y__. 

Use NumPy vector operations.

Use __np.pi__ constant and __np.linspace()__ function: 
https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html

Note that due to the way floating points are stored in memory exact comparison is nearly always impossible. You should use __np.isclose()__ instead. That would allow some room for floating point errors.
https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.isclose.html

This plot may be helpful:
http://www.wolframalpha.com/input/?i=plot+sinx+and+cosx+from+-4pi+to+4pi

In [82]:
import numpy as np
x = np.linspace(-4*np.pi, 4*np.pi,33)
x

array([-12.56637061, -11.78097245, -10.99557429, -10.21017612,
        -9.42477796,  -8.6393798 ,  -7.85398163,  -7.06858347,
        -6.28318531,  -5.49778714,  -4.71238898,  -3.92699082,
        -3.14159265,  -2.35619449,  -1.57079633,  -0.78539816,
         0.        ,   0.78539816,   1.57079633,   2.35619449,
         3.14159265,   3.92699082,   4.71238898,   5.49778714,
         6.28318531,   7.06858347,   7.85398163,   8.6393798 ,
         9.42477796,  10.21017612,  10.99557429,  11.78097245,
        12.56637061])

In [83]:
np.cos(x)

array([ 1.00000000e+00,  7.07106781e-01, -4.28626380e-16, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01,  3.06161700e-16,  7.07106781e-01,
        1.00000000e+00,  7.07106781e-01, -1.83697020e-16, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01,  6.12323400e-17,  7.07106781e-01,
        1.00000000e+00,  7.07106781e-01,  6.12323400e-17, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01, -1.96005386e-15,  7.07106781e-01,
        1.00000000e+00,  7.07106781e-01, -1.47019514e-15, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01, -2.20498322e-15,  7.07106781e-01,
        1.00000000e+00])

In [84]:
np.sin(x)

array([ 4.89858720e-16,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
       -3.67394040e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
        2.44929360e-16,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
       -1.22464680e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
        0.00000000e+00,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
        1.22464680e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
       -2.44929360e-16,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
        3.67394040e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
       -4.89858720e-16])

In [85]:
# YOUR CODE HERE
pass
#pass is a null operation (doesn't do anything)

In [86]:
y = "x where cos(x) == sin(x)"
y = x[np.isclose(np.cos(x), np.sin(x))]
print(y)

[-11.78097245  -8.6393798   -5.49778714  -2.35619449   0.78539816
   3.92699082   7.06858347  10.21017612]

In [87]:
assert x.shape[0] == 33
assert -4*np.pi in x
assert 0.0 in x
assert 4*np.pi in x

assert y.shape[0] == 8
assert np.all(np.isclose(y/np.pi, np.array([-3.75, -2.75, -1.75, -0.75,  0.25,  1.25,  2.25,  3.25])))

In [88]:
#since assert does not return anything, it means that this is GOOD
#you DONT want assert to return anything, as this means it is NOT true
#but assert SHOULD return true
#eg if change x to 34, things will return false

## Part C. Working with Pandas dataframes (3 points)

We will explore FBI reports on gun checks provided by the National Instant Criminal Background Check System (NICS)
https://www.fbi.gov/services/cjis/nics

Before ringing up the sale, cashiers call in a check to the FBI or to other designated agencies to ensure that each customer does not have a criminal record or isn’t otherwise ineligible to make a purchase. More than 230 million such checks have been made, leading to more than 1.3 million denials.

NICS and background checks is a hot topic and it is important to be able to do some basic fact-checking using the data available. https://www.washingtonpost.com/news/fact-checker/wp/2018/02/23/fact-checking-trump-nra-claims-on-gun-background-checks/?utm_term=.3e0284ad3774

The FBI NICS provides data as PDF reports, which is a really bad example of distributing the data.
There is a community-developed parser that extracted the data from PDF files. Parsed dataset that we will be using is available here: 
https://github.com/BuzzFeedNews/nics-firearm-background-checks/blob/master/README.md

Note that the number of background checks can not be directly interpreted as the number of guns sold because the actual sale protocols vary state to state.

For reproducibility we will be using a local copy of the file.

In [4]:
import pandas as pd

# NICS parsed dataset url (local copy)
url = "https://github.com/biof509/spring2019/blob/master/week2/nics-firearm-background-checks.csv?raw=true"
guns = pd.read_csv(url)
#you can PASS A URL as your CSV FILE, and it will read in CSV file no problem

In [81]:
guns.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227,2018
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818,2018
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149,2018
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502,2018
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019,2018

In [79]:
guns.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals', 'year'],
      dtype='object')

In [82]:
guns.shape

(13090, 28)

In [9]:
len(guns.columns.to_list())

27

In [12]:
guns.isna()
#returns dataframe with boolean columns

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13086,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13087,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13088,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13089,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False

In [17]:
guns.isna().sum()
#
#
#
#THIS WILL BE USEFUL FOR FINAL PROJECT
#
#
#
#

month                            0
state                            0
permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
multiple                         0
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
totals                           0
dtype: int64

In [19]:
guns.notna().sum()
#
#
#
#
#also useful
#
#
#
#

month                        13090
state                        13090
permit                       13066
permit_recheck                1705
handgun                      13070
long_gun                     13071
other                         6105
multiple                     13090
admin                        13067
prepawn_handgun              11147
prepawn_long_gun             11145
prepawn_other                 5720
redemption_handgun           11150
redemption_long_gun          11149
redemption_other              5720
returned_handgun              2805
returned_long_gun             2750
returned_other                2420
rentals_handgun               1595
rentals_long_gun              1430
private_sale_handgun          3355
private_sale_long_gun         3355
private_sale_other            3355
return_to_seller_handgun      3080
return_to_seller_long_gun     3355
return_to_seller_other        2860
totals                       13090
dtype: int64

In [22]:
guns.info()
#
#
#
#
#ALSO VERY, VERY USEFUL
#
#
#
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13090 entries, 0 to 13089
Data columns (total 27 columns):
month                        13090 non-null object
state                        13090 non-null object
permit                       13066 non-null float64
permit_recheck               1705 non-null float64
handgun                      13070 non-null float64
long_gun                     13071 non-null float64
other                        6105 non-null float64
multiple                     13090 non-null int64
admin                        13067 non-null float64
prepawn_handgun              11147 non-null float64
prepawn_long_gun             11145 non-null float64
prepawn_other                5720 non-null float64
redemption_handgun           11150 non-null float64
redemption_long_gun          11149 non-null float64
redemption_other             5720 non-null float64
returned_handgun             2805 non-null float64
returned_long_gun            2750 non-null float64
returned_other               2420 non-null float64
rentals_handgun              1595 non-null float64
rentals_long_gun             1430 non-null float64
private_sale_handgun         3355 non-null float64
private_sale_long_gun        3355 non-null float64
private_sale_other           3355 non-null float64
return_to_seller_handgun     3080 non-null float64
return_to_seller_long_gun    3355 non-null float64
return_to_seller_other       2860 non-null float64
totals                       13090 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.7+ MB

In [23]:
guns.loc[guns.permit.notna(), ["permit", "handgun"]].shape
#will return the number of not null values in the permit column...

(13066, 2)

In [27]:
guns.loc[guns.permit.notna(), "permit":]

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,6.0,1.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,5.0,1.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,17.0,0.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502
4,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
13086,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
13087,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
13088,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
13089,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [33]:
guns.loc[guns.permit.notna(), "permit"].shape

(13066,)

In [34]:
guns.loc[guns.permit.notna(), [["permit":"admit"]].shape

SyntaxError: invalid syntax (<ipython-input-34-6a3c59499bf0>, line 1)

In [35]:
guns.loc
#Access a group of rows and columns by label(s) or a boolean array.
#``.loc[]`` is primarily label based, but may also be used with a
#boolean array.

In [36]:
guns.iloc
#Purely integer-location based indexing for selection by position.

In [38]:
guns.iloc[0:4, 0:3]
#could also put in 
#guns.iloc[:4, :3]

     month     state   permit
0  2018-08   Alabama  22465.0
1  2018-08    Alaska    218.0
2  2018-08   Arizona  12014.0
3  2018-08  Arkansas   5684.0

In [40]:
guns.iloc[:]
#gives all rows using iloc

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
13086,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
13087,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
13088,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
13089,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [42]:
guns.iloc[:4]
#only gives the first 4 rows

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502

In [55]:
guns.loc[:4]
#gives the first 5 ROWS, b/c LOC in INCLUSIVE (which works by label), vs ILOC which is exclusive (which does not work by that)
#
#
#
#
#
#if this is confusing, JUST use LOC, and JUST REFER TO THEM BY THEIR NAME (the Y value!!!!!, not their X value)
#
#
#
#
#
#

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019

In [56]:
guns.loc[2]

month                        2018-08
state                        Arizona
permit                         12014
permit_recheck                   455
handgun                        10833
long_gun                        6987
other                            887
multiple                         693
admin                              0
prepawn_handgun                   18
prepawn_long_gun                   5
prepawn_other                      1
redemption_handgun              1350
redemption_long_gun              665
redemption_other                   7
returned_handgun                 160
returned_long_gun                 20
returned_other                     1
rentals_handgun                    0
rentals_long_gun                   0
private_sale_handgun              30
private_sale_long_gun             17
private_sale_other                 4
return_to_seller_handgun           1
return_to_seller_long_gun          1
return_to_seller_other             0
totals                         34149
Name: 2, dtype: object

In [57]:
# Use .head() .info() and .describe() to explore the dataset

### Part C. Subtask 1 (1 point)

First, use __pd.to_datetime()__ with argument __yearfirst=True__ to convert the column __"month"__ to a Pandas Series with DateTime objects. Add a new column __"year"__ to __guns__ dataframe and save the results of conversion there.
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

You can access Python __datetime.date__ objects via the __.dt__ property of Pandas Series:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.date.html

Look up the attributes of __datetime.date__ class, we will need attribute __.year__
https://docs.python.org/3/library/datetime.html

In [62]:
df.loc[]

SyntaxError: invalid syntax (<ipython-input-62-1008ffe8599e>, line 1)

In [63]:
guns['year'] = pd.to_datetime(guns['month'], yearfirst=True).dt.year

In [65]:
guns['year']

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
13085    1998
13086    1998
13087    1998
13088    1998
13089    1998
Name: year, Length: 13090, dtype: int64

In [64]:
assert (guns['year'].min(), guns['year'].max()) == (1998, 2018)

In [ ]:
# again, b/c assert not outputting things it is working

### Part C. Subtask 2 (1 point)

Group __guns__ dataframe by year and sum up the __totals__ (together, regardless of state). Use the variables
__totals_2000__ and __totals_2017__ to store the corresponding results.

You will need https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

In [105]:
by_year = pd.DataFrame.groupby(guns, by="year", axis=0)
print (by_year)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x125882110>

In [83]:
guns

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227,2018
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818,2018
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149,2018
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502,2018
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,1998
13086,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361,1998
13087,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408,1998
13088,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241,1998
13089,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,1998

In [69]:
assert totals_2000 == 8427096
assert totals_2017 == 24955919

NameError: name 'totals_2000' is not defined

### Part C. Subtask 3 (1 point)

Group data by state (regardless of year) and calculate the mean value of __long_gun__ and __handgun__ checks separately for each state. Calculate the number of states that had more long gun background checks on average over the years than handgun checks. Calculate the number of states with more handgun checks. Store these results in __states_with_more_long_guns__ and __states_with_more_handguns__ variables, respectively.

Hint: Use vector operations. No for loops are needed. A result of comparison of two vectors is a vector of booleans. You can sum up the vector of booleans to calculate the number of True values in it.

In [ ]:
assert states_with_more_long_guns == 35
assert states_with_more_handguns == 20