Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE".

# Week2 Assignments


This assignment has three components. Each of the first three components receives one point if all the tests pass. 
The last component on Pandas may require more effort, it consists of three subtasks, each of the subtasks receives 1 point.

All the exercises are designed so that the solutions will need only one or a few lines of code.

Some concepts may be new to you and may require digging into the Python, NumPy or Pandas documentation, the links are provided.

Do not hesitate to contact instuctors and TA via #week2 channel on Slack if you get stuck. Join the channel first by clicking on Channels.

## Part A. Create a missing function (1 point)

In this exercise you need to create a function __missing_link(x)__ that is passed to another function as an argument in order to perform a calculation.

We know the final result (see the assert operator), but we do not know the intermediate calculation leading to that result.

Read about Python built-in functions __all()__ and __zip()__
https://docs.python.org/3.3/library/functions.html

and about the iterators and generators here:
https://docs.python.org/3.3/library/stdtypes.html#typeiter

In [2]:
def calculate(func, it):
    """
    Performs calculation by applying *func* to each item of iterator *it*
    Returns a generator as a result.
    """
    return (2 * func(a) for a in it)

In [3]:
#if you change the parens to square brackets, it would return a LIST b/c square brackets make it a list function

In [8]:
def missing_link(x):
    """Define a function that will be passed to calculate() as an argument"""
    # YOUR CODE HERE
    list(calculate(lambda x:x**2, range(7)))
    pass

## You can check the result of the missing_link() function and of calculate() if you wish:
# print(list(map(missing_link, range(5))))
# print(list(calculate(missing_link, range(5))))

In [9]:
list(calculate(lambda x:x**2, range(7)))

[0, 2, 8, 18, 32, 50, 72]

In [29]:
def missing_link(x):
    """Define a function that will be passed to calculate() as an argument"""
    # YOUR CODE HERE
    return x**2

## You can check the result of the missing_link() function and of calculate() if you wish:
# print(list(map(missing_link, range(5))))
# print(list(calculate(missing_link, range(5))))

In [33]:
#ONCE A RETURN STATEMENT IS EVALUATED, NOTHING BELOW IS READ IN FUNCTION!!!

In [30]:
#type(missing_link(2.5))

In [31]:
#type(missing_link("a"))
#before you define missing link with the return function, you will get a "NoneType" output b/c there is nothing in it

In [32]:
_observed_results = calculate(missing_link, range(7))
_expected_results = [0, 2, 8, 18, 32, 50, 72]

assert all(a == b for a, b in zip(_observed_results, _expected_results))

In [ ]:
#now this does NOT cause an error, so it is working

## Part B. NumPy (1 point)

Define __x__ as a subdivision of an interval from -4 PI to 4 PI into 32 equal parts, i.e. with a PI/4 step. 

Including both endpoints that should give 33 points.

Using NumPy calculate __cos()__ and __sin()__ and find the values of 

__x__ where __cos(x)__ is equal to __sin(x)__ and store these values in the variable __y__. 

Use NumPy vector operations.

Use __np.pi__ constant and __np.linspace()__ function: 
https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html

Note that due to the way floating points are stored in memory exact comparison is nearly always impossible. You should use __np.isclose()__ instead. That would allow some room for floating point errors.
https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.isclose.html

This plot may be helpful:
http://www.wolframalpha.com/input/?i=plot+sinx+and+cosx+from+-4pi+to+4pi

In [7]:
import numpy as np
x = np.linspace(-4*np.pi, 4*np.pi,33)
x

array([-12.56637061, -11.78097245, -10.99557429, -10.21017612,
        -9.42477796,  -8.6393798 ,  -7.85398163,  -7.06858347,
        -6.28318531,  -5.49778714,  -4.71238898,  -3.92699082,
        -3.14159265,  -2.35619449,  -1.57079633,  -0.78539816,
         0.        ,   0.78539816,   1.57079633,   2.35619449,
         3.14159265,   3.92699082,   4.71238898,   5.49778714,
         6.28318531,   7.06858347,   7.85398163,   8.6393798 ,
         9.42477796,  10.21017612,  10.99557429,  11.78097245,
        12.56637061])

In [8]:
np.cos(x)

array([ 1.00000000e+00,  7.07106781e-01, -4.28626380e-16, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01,  3.06161700e-16,  7.07106781e-01,
        1.00000000e+00,  7.07106781e-01, -1.83697020e-16, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01,  6.12323400e-17,  7.07106781e-01,
        1.00000000e+00,  7.07106781e-01,  6.12323400e-17, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01, -1.96005386e-15,  7.07106781e-01,
        1.00000000e+00,  7.07106781e-01, -1.47019514e-15, -7.07106781e-01,
       -1.00000000e+00, -7.07106781e-01, -2.20498322e-15,  7.07106781e-01,
        1.00000000e+00])

In [9]:
np.sin(x)

array([ 4.89858720e-16,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
       -3.67394040e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
        2.44929360e-16,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
       -1.22464680e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
        0.00000000e+00,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
        1.22464680e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
       -2.44929360e-16,  7.07106781e-01,  1.00000000e+00,  7.07106781e-01,
        3.67394040e-16, -7.07106781e-01, -1.00000000e+00, -7.07106781e-01,
       -4.89858720e-16])

In [10]:
# YOUR CODE HERE
pass
#pass is a null operation (doesn't do anything)

In [11]:
y = "x where cos(x) == sin(x)"
y = x[np.isclose(np.cos(x), np.sin(x))]
print(y)

[-11.78097245  -8.6393798   -5.49778714  -2.35619449   0.78539816
   3.92699082   7.06858347  10.21017612]

In [12]:
assert x.shape[0] == 33
assert -4*np.pi in x
assert 0.0 in x
assert 4*np.pi in x

assert y.shape[0] == 8
assert np.all(np.isclose(y/np.pi, np.array([-3.75, -2.75, -1.75, -0.75,  0.25,  1.25,  2.25,  3.25])))

In [13]:
#since assert does not return anything, it means that this is GOOD
#you DONT want assert to return anything, as this means it is NOT true
#but assert SHOULD return true
#eg if change x to 34, things will return false

## Part C. Working with Pandas dataframes (3 points)

We will explore FBI reports on gun checks provided by the National Instant Criminal Background Check System (NICS)
https://www.fbi.gov/services/cjis/nics

Before ringing up the sale, cashiers call in a check to the FBI or to other designated agencies to ensure that each customer does not have a criminal record or isn’t otherwise ineligible to make a purchase. More than 230 million such checks have been made, leading to more than 1.3 million denials.

NICS and background checks is a hot topic and it is important to be able to do some basic fact-checking using the data available. https://www.washingtonpost.com/news/fact-checker/wp/2018/02/23/fact-checking-trump-nra-claims-on-gun-background-checks/?utm_term=.3e0284ad3774

The FBI NICS provides data as PDF reports, which is a really bad example of distributing the data.
There is a community-developed parser that extracted the data from PDF files. Parsed dataset that we will be using is available here: 
https://github.com/BuzzFeedNews/nics-firearm-background-checks/blob/master/README.md

Note that the number of background checks can not be directly interpreted as the number of guns sold because the actual sale protocols vary state to state.

For reproducibility we will be using a local copy of the file.

In [14]:
import pandas as pd

# NICS parsed dataset url (local copy)
url = "https://github.com/biof509/spring2019/blob/master/week2/nics-firearm-background-checks.csv?raw=true"
guns = pd.read_csv(url)
#you can PASS A URL as your CSV FILE, and it will read in CSV file no problem

In [17]:
guns.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019

In [18]:
guns.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')

In [19]:
guns.shape

(13090, 27)

In [20]:
len(guns.columns.to_list())

27

In [21]:
guns.isna()
#returns dataframe with boolean columns

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13086,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13087,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13088,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False
13089,False,False,False,True,False,False,True,False,False,True,...,True,True,True,True,True,True,True,True,True,False

In [22]:
guns.isna().sum()
#
#
#
#THIS WILL BE USEFUL FOR FINAL PROJECT
#
#
#
#

month                            0
state                            0
permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
multiple                         0
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
totals                           0
dtype: int64

In [23]:
guns.notna().sum()
#
#
#
#
#also useful
#
#
#
#

month                        13090
state                        13090
permit                       13066
permit_recheck                1705
handgun                      13070
long_gun                     13071
other                         6105
multiple                     13090
admin                        13067
prepawn_handgun              11147
prepawn_long_gun             11145
prepawn_other                 5720
redemption_handgun           11150
redemption_long_gun          11149
redemption_other              5720
returned_handgun              2805
returned_long_gun             2750
returned_other                2420
rentals_handgun               1595
rentals_long_gun              1430
private_sale_handgun          3355
private_sale_long_gun         3355
private_sale_other            3355
return_to_seller_handgun      3080
return_to_seller_long_gun     3355
return_to_seller_other        2860
totals                       13090
dtype: int64

In [24]:
guns.info()
#
#
#
#
#ALSO VERY, VERY USEFUL
#
#
#
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13090 entries, 0 to 13089
Data columns (total 27 columns):
month                        13090 non-null object
state                        13090 non-null object
permit                       13066 non-null float64
permit_recheck               1705 non-null float64
handgun                      13070 non-null float64
long_gun                     13071 non-null float64
other                        6105 non-null float64
multiple                     13090 non-null int64
admin                        13067 non-null float64
prepawn_handgun              11147 non-null float64
prepawn_long_gun             11145 non-null float64
prepawn_other                5720 non-null float64
redemption_handgun           11150 non-null float64
redemption_long_gun          11149 non-null float64
redemption_other             5720 non-null float64
returned_handgun             2805 non-null float64
returned_long_gun            2750 non-null float64
returned_other               2420 non-null float64
rentals_handgun              1595 non-null float64
rentals_long_gun             1430 non-null float64
private_sale_handgun         3355 non-null float64
private_sale_long_gun        3355 non-null float64
private_sale_other           3355 non-null float64
return_to_seller_handgun     3080 non-null float64
return_to_seller_long_gun    3355 non-null float64
return_to_seller_other       2860 non-null float64
totals                       13090 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.7+ MB

In [25]:
guns.loc[guns.permit.notna(), ["permit", "handgun"]].shape
#will return the number of not null values in the permit column...

(13066, 2)

In [26]:
guns.loc[guns.permit.notna(), "permit":]

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,6.0,1.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,5.0,1.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,17.0,0.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502
4,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
13086,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
13087,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
13088,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
13089,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [27]:
guns.loc[guns.permit.notna(), "permit"].shape

(13066,)

In [33]:
guns.loc[guns.permit.notna(), "permit":"admin"]

        permit  permit_recheck  handgun  long_gun   other  multiple  admin
0      22465.0             0.0   5991.0    5741.0   218.0       274    0.0
1        218.0             0.0   2593.0    3057.0   220.0       181    0.0
2      12014.0           455.0  10833.0    6987.0   887.0       693    0.0
3       5684.0           690.0   4809.0    5590.0   226.0       342   95.0
4      38687.0             0.0  34617.0   25666.0  3117.0         0    0.0
...        ...             ...      ...       ...     ...       ...    ...
13085      0.0             NaN     14.0       2.0     NaN         8    0.0
13086      1.0             NaN     65.0     286.0     NaN         8    1.0
13087      3.0             NaN    149.0     251.0     NaN         5    0.0
13088      0.0             NaN     25.0     214.0     NaN         2    0.0
13089      8.0             NaN     45.0      49.0     NaN         5    0.0

[13066 rows x 7 columns]

In [34]:
guns.loc
#Access a group of rows and columns by label(s) or a boolean array.
#``.loc[]`` is primarily label based, but may also be used with a
#boolean array.

In [37]:
guns.iloc
#Purely integer-location based indexing for selection by position.

In [38]:
guns.iloc[0:4, 0:3]
#could also put in 
#guns.iloc[:4, :3]

     month     state   permit
0  2018-08   Alabama  22465.0
1  2018-08    Alaska    218.0
2  2018-08   Arizona  12014.0
3  2018-08  Arkansas   5684.0

In [39]:
guns.iloc[:]
#gives all rows using iloc

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
13086,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
13087,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
13088,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
13089,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [40]:
guns.iloc[:4]
#only gives the first 4 rows

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502

In [41]:
guns.loc[:4]
#gives the first 5 ROWS, b/c LOC in INCLUSIVE (which works by label), vs ILOC which is exclusive (which does not work by that)
#
#
#
#
#
#if this is confusing, JUST use LOC, and JUST REFER TO THEM BY THEIR NAME (the Y value!!!!!, not their X value)
#
#
#
#
#
#

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,1.0,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019

In [42]:
guns.loc[2]

month                        2018-08
state                        Arizona
permit                         12014
permit_recheck                   455
handgun                        10833
long_gun                        6987
other                            887
multiple                         693
admin                              0
prepawn_handgun                   18
prepawn_long_gun                   5
prepawn_other                      1
redemption_handgun              1350
redemption_long_gun              665
redemption_other                   7
returned_handgun                 160
returned_long_gun                 20
returned_other                     1
rentals_handgun                    0
rentals_long_gun                   0
private_sale_handgun              30
private_sale_long_gun             17
private_sale_other                 4
return_to_seller_handgun           1
return_to_seller_long_gun          1
return_to_seller_other             0
totals                         34149
Name: 2, dtype: object

In [43]:
# Use .head() .info() and .describe() to explore the dataset

### Part C. Subtask 1 (1 point)

First, use __pd.to_datetime()__ with argument __yearfirst=True__ to convert the column __"month"__ to a Pandas Series with DateTime objects. Add a new column __"year"__ to __guns__ dataframe and save the results of conversion there.
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

You can access Python __datetime.date__ objects via the __.dt__ property of Pandas Series:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.date.html

Look up the attributes of __datetime.date__ class, we will need attribute __.year__
https://docs.python.org/3/library/datetime.html

In [44]:
df.loc[]

SyntaxError: invalid syntax (<ipython-input-44-1008ffe8599e>, line 1)

In [45]:
guns['year'] = pd.to_datetime(guns['month'], yearfirst=True).dt.year

In [53]:
print(guns['year'])

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
13085    1998
13086    1998
13087    1998
13088    1998
13089    1998
Name: year, Length: 13090, dtype: int64

In [47]:
assert (guns['year'].min(), guns['year'].max()) == (1998, 2018)

In [48]:
# again, b/c assert not outputting things it is working

### Part C. Subtask 2 (1 point)

Group __guns__ dataframe by year and sum up the __totals__ (together, regardless of state). Use the variables
__totals_2000__ and __totals_2017__ to store the corresponding results.

You will need https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

In [203]:
guns

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227,2018
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818,2018
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149,2018
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502,2018
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,1998
13086,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361,1998
13087,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408,1998
13088,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241,1998
13089,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,1998

In [49]:
guns['year']

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
13085    1998
13086    1998
13087    1998
13088    1998
13089    1998
Name: year, Length: 13090, dtype: int64

In [120]:
guns['totals']

0         37227
1          6818
2         34149
3         20502
4        103019
          ...
13085        24
13086       361
13087       408
13088       241
13089       107
Name: totals, Length: 13090, dtype: int64

In [159]:
by_year = guns.groupby(['year']).sum()

In [160]:
by_year['totals']

year
1998      891898
1999     9043747
2000     8427096
2001     8820045
2002     8367069
2003     8402244
2004     8579891
2005     8867055
2006     9993057
2007    11162272
2008    12692985
2009    13984953
2010    14320489
2011    16336732
2012    19463832
2013    20966704
2014    20860241
2015    23026288
2016    27425512
2017    24955919
2018    16959333
Name: totals, dtype: int64

In [165]:
by_year

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
year,,,,,,,,,,,,,,,,,,,,,
1998,78169.0,0.0,219999.0,582791.0,0.0,8720,2219.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,891898
1999,1037700.0,0.0,2536738.0,5217451.0,0.0,103743,148115.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9043747
2000,1227814.0,0.0,2191879.0,4779978.0,0.0,95777,131648.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8427096
2001,1408338.0,0.0,2167213.0,4943375.0,0.0,97132,100126.0,1274.0,3266.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8820045
2002,1363211.0,0.0,1845112.0,4409311.0,0.0,93069,76776.0,5082.0,11080.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8367069
2003,1403496.0,0.0,1851078.0,4383057.0,0.0,99236,69946.0,5146.0,8656.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8402244
2004,1345672.0,0.0,1990460.0,4506847.0,0.0,101985,51559.0,3943.0,6459.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8579891
2005,1350193.0,0.0,2241740.0,4584462.0,0.0,109750,13158.0,3151.0,5782.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8867055
2006,2037453.0,0.0,2441325.0,4789591.0,0.0,130117,41792.0,3146.0,5917.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9993057
2007,3078802.0,0.0,2635629.0,4570697.0,0.0,324401,27318.0,2901.0,5504.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11162272
2008,3699021.0,0.0,3331199.0,4907967.0,0.0,187079,13883.0,2330.0,4205.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12692985
2009,4450822.0,0.0,3689604.0,4978641.0,23208.0,235685,7302.0,2831.0,4846.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13984953
2010,4884307.0,0.0,3678001.0,4842184.0,52761.0,180609,6751.0,3128.0,5175.0,28.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14320489
2011,5545457.0,0.0,4301389.0,5445966.0,70137.0,219618,11912.0,3161.0,4489.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16336732
2012,5683547.0,0.0,5682963.0,6866225.0,162823.0,230270,6670.0,2927.0,3961.0,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19463832
2013,6169832.0,0.0,6387502.0,7128798.0,212776.0,241360,5664.0,2500.0,3418.0,89.0,...,0.0,5.0,1.0,385.0,409.0,68.0,2.0,19.0,2.0,20966704
2014,7769858.0,0.0,6199243.0,5543371.0,268263.0,225475,4258.0,2225.0,2822.0,146.0,...,0.0,3.0,0.0,1720.0,1341.0,103.0,83.0,83.0,20.0,20860241
2015,8782048.0,0.0,7333808.0,5479441.0,329499.0,242375,7037.0,2362.0,2531.0,175.0,...,406.0,0.0,0.0,7181.0,5804.0,472.0,187.0,299.0,25.0,23026288
2016,11134651.0,519265.0,8085498.0,5988511.0,586137.0,257723,3366.0,2623.0,2567.0,161.0,...,791.0,16.0,21.0,14561.0,11042.0,1038.0,362.0,416.0,71.0,27425512
2017,9941684.0,1046410.0,7226979.0,5234757.0,399993.0,236167,5643.0,3233.0,2906.0,293.0,...,880.0,82.0,81.0,23776.0,19328.0,1658.0,489.0,555.0,146.0,24955919
2018,7146936.0,1429713.0,4386361.0,2919381.0,331748.0,160907,12717.0,2805.0,2196.0,296.0,...,732.0,103.0,78.0,17773.0,14831.0,1858.0,466.0,518.0,51.0,16959333

In [190]:
totals_2000 = by_year['totals'].iloc[2]

In [191]:
totals_2017 = by_year['totals'].iloc[19]

In [204]:
guns

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
0,2018-08,Alabama,22465.0,0.0,5991.0,5741.0,218.0,274,0.0,12.0,...,0.0,0.0,39.0,25.0,1.0,0.0,0.0,0.0,37227,2018
1,2018-08,Alaska,218.0,0.0,2593.0,3057.0,220.0,181,0.0,5.0,...,0.0,0.0,17.0,31.0,1.0,0.0,1.0,0.0,6818,2018
2,2018-08,Arizona,12014.0,455.0,10833.0,6987.0,887.0,693,0.0,18.0,...,0.0,0.0,30.0,17.0,4.0,1.0,1.0,0.0,34149,2018
3,2018-08,Arkansas,5684.0,690.0,4809.0,5590.0,226.0,342,95.0,14.0,...,0.0,0.0,20.0,13.0,6.0,0.0,0.0,0.0,20502,2018
4,2018-08,California,38687.0,0.0,34617.0,25666.0,3117.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103019,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,1998
13086,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361,1998
13087,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408,1998
13088,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241,1998
13089,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,1998

In [207]:
assert totals_2000 == 8427096
assert totals_2017 == 24955919

In [206]:
#alt way of doing the same thing in one line
#preferred?
totals_2000_a = guns.groupby(['year'])['totals'].sum().iloc[2]
totals_2000_a

8427096

In [202]:
totals_2017_a = guns.groupby(['year'])['totals'].sum().iloc[19]
totals_2017_a

24955919

### Part C. Subtask 3 (1 point)

Group data by state (regardless of year) and calculate the mean value of __long_gun__ and __handgun__ checks separately for each state. Calculate the number of states that had more long gun background checks on average over the years than handgun checks. Calculate the number of states with more handgun checks. Store these results in __states_with_more_long_guns__ and __states_with_more_handguns__ variables, respectively.

Hint: Use vector operations. No for loops are needed. A result of comparison of two vectors is a vector of booleans. You can sum up the vector of booleans to calculate the number of True values in it.

In [209]:
by_state = guns.groupby(['state']).mean()
by_state

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
state,,,,,,,,,,,,,,,,,,,,,
Alabama,5438.491597,45.290323,9685.390756,11372.970588,387.189189,458.978992,0.134454,21.610837,31.852217,0.278846,...,0.034483,0.000000,8.442623,8.114754,0.672131,0.339286,0.262295,0.230769,30047.890756,2008.252101
Alaska,68.008403,1.612903,1957.785714,2532.453782,171.630631,130.600840,0.079832,5.334975,7.320197,0.009615,...,0.000000,0.000000,6.655738,8.786885,0.688525,0.071429,0.114754,0.019231,5096.546218,2008.252101
Arizona,3310.663866,382.645161,8079.386555,6600.239496,634.666667,390.226891,27.911765,7.586207,4.862069,0.278846,...,0.000000,0.000000,9.868852,6.409836,1.262295,0.464286,0.475410,0.076923,20109.420168,2008.252101
Arkansas,2360.016807,715.774194,4330.974790,7287.176471,147.171171,279.000000,11.294118,8.586207,20.517241,0.153846,...,0.000000,0.000000,6.278689,7.262295,0.868852,0.303571,0.327869,0.076923,16762.294118,2008.252101
California,29597.042017,0.000000,26623.558824,26194.651261,3472.675676,873.378151,70.084034,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85310.008403,2008.252101
Colorado,2242.743697,0.000000,11518.521008,12110.436975,693.009009,1343.277311,12.291139,0.187192,0.088670,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27592.928571,2008.252101
Connecticut,7001.067227,196.516129,3939.903361,2780.008403,196.036036,33.714286,121.983193,0.000000,0.000000,0.596154,...,0.000000,0.000000,0.491803,0.606557,0.049180,0.732143,0.409836,0.096154,13994.558824,2008.252101
Delaware,116.756303,0.000000,952.285714,1090.584034,68.918919,38.932773,0.214286,0.517241,0.591133,0.048077,...,0.000000,0.000000,34.180328,14.901639,1.770492,0.607143,0.245902,0.057692,2258.159664,2008.252101
District of Columbia,10.647059,0.000000,22.831933,2.676471,0.018018,0.193277,0.231092,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.605042,2008.252101
Florida,5508.747899,0.000000,27263.991597,17136.605042,1781.108108,1124.054622,355.668067,17.241379,10.467980,0.201923,...,0.000000,0.000000,19.704918,9.459016,1.000000,2.446429,1.836066,0.134615,54096.134454,2008.252101
Georgia,8432.554622,0.000000,9582.962185,10051.823529,314.729730,400.651261,1734.945378,12.300493,17.881773,0.423077,...,0.000000,0.000000,12.278689,7.426230,0.934426,0.232143,0.459016,0.057692,32509.865546,2008.252101
Guam,0.000000,0.000000,36.088235,27.378151,8.972973,2.050420,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019231,69.756303,2008.252101
Hawaii,884.117647,0.000000,0.012605,0.147059,0.018018,0.008403,0.453782,0.009852,0.009852,0.019231,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,885.378151,2008.252101
Idaho,1878.281513,3.225806,2166.630252,3919.302521,140.828829,144.159664,94.773109,2.635468,6.073892,0.163462,...,0.000000,0.000000,3.573770,5.688525,0.344262,0.285714,0.524590,0.057692,9067.037815,2008.252101
Illinois,40721.029412,89191.677419,11277.823529,10156.621849,0.009009,492.924370,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74265.810924,2008.252101
Indiana,14422.680672,0.000000,10070.235294,10410.806723,839.423423,356.394958,7.088235,0.812808,4.241379,0.375000,...,0.000000,0.000000,24.934426,14.557377,2.737705,1.232143,1.081967,0.173077,36133.609244,2008.252101
Iowa,6592.403361,1640.225806,84.789916,3373.873950,25.063063,4.378151,5.978992,0.029557,1.083744,0.028846,...,0.000000,0.000000,0.295082,3.016393,0.163934,0.000000,0.016393,0.000000,10391.500000,2008.252101
Kansas,734.630252,3.612903,4190.180672,5678.945378,281.837838,257.852941,0.478992,3.684729,4.157635,0.192308,...,0.000000,0.000000,5.163934,4.983607,1.278689,0.178571,0.245902,0.038462,11738.029412,2008.252101
Kentucky,122529.735294,0.000000,7837.222689,9792.373950,220.432432,489.995798,155.537815,14.310345,25.694581,0.269231,...,0.000000,0.000000,9.819672,9.704918,0.606557,0.339286,0.344262,0.173077,143903.109244,2008.252101
Louisiana,472.966245,5.387097,8058.483193,10074.189076,513.306306,388.340336,0.189076,5.581281,7.921182,0.336538,...,0.000000,0.000000,9.540984,9.704918,1.065574,0.517857,0.442623,0.250000,21000.092437,2008.252101
Maine,101.382353,0.032258,1997.205882,3161.474790,140.351351,114.281513,0.252101,8.034483,27.290640,0.019231,...,0.000000,0.000000,4.098361,2.573770,0.229508,0.214286,0.295082,0.038462,5650.184874,2008.252101
Mariana Islands,0.000000,0.000000,1.502183,1.117904,0.171171,0.117647,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.731092,2008.252101
Maryland,1585.100840,0.032258,2738.701681,4620.436975,92.036036,13.831933,0.218487,0.753695,1.610837,0.605769,...,0.000000,0.038462,0.475410,13.442623,4.754098,0.642857,0.950820,0.826923,9172.310924,2008.252101
Massachusetts,6149.365546,0.548387,3005.886555,1943.626050,306.297297,96.533613,254.436975,0.044335,0.064039,0.125000,...,0.000000,0.000000,30.049180,20.803279,6.327869,0.875000,0.622951,0.173077,11610.495798,2008.252101
Michigan,14856.495798,665.903226,4458.050420,12474.567227,325.783784,97.453782,13.474790,0.172414,5.719212,0.144231,...,0.000000,0.000000,8.950820,9.622951,0.688525,0.250000,0.278689,0.057692,32439.260504,2008.252101
Minnesota,11956.470588,0.000000,5289.344538,10507.126050,416.855856,211.184874,0.004202,0.729064,4.009852,0.105769,...,0.000000,0.000000,7.377049,8.508197,0.622951,0.125000,0.262295,0.096154,28713.735294,2008.252101
Mississippi,528.390756,0.000000,5374.000000,7538.903361,200.729730,266.512605,4.663866,37.571429,47.064039,0.278846,...,0.000000,0.000000,5.918033,4.803279,0.622951,0.250000,0.213115,0.115385,16018.474790,2008.252101
Missouri,1968.991597,0.000000,11081.810924,13675.533613,830.234234,521.201681,0.000000,5.492611,13.733990,0.375000,...,0.000000,0.000000,33.819672,27.459016,3.803279,1.035714,1.065574,0.230769,29518.983193,2008.252101
Montana,668.344538,0.354839,2094.310924,4224.962185,106.207207,172.319328,5.729958,2.522167,8.679803,0.701923,...,0.000000,0.000000,2.967213,4.639344,0.327869,0.535714,0.836066,0.057692,8383.663866,2008.252101
Nebraska,2536.365546,61.225806,59.928571,2371.739496,15.945946,3.243697,0.289916,0.078818,0.788177,0.028846,...,0.000000,0.000000,0.032787,2.606557,0.032787,0.000000,0.000000,0.000000,5076.420168,2008.252101
Nevada,1008.731092,0.000000,3419.991597,2766.907563,183.954955,210.323529,0.096639,0.044335,0.064039,0.028846,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7789.319328,2008.252101
New Hampshire,1809.365546,0.000000,2636.600840,2614.050420,83.477477,9.088235,4.840336,0.019802,0.167488,0.076923,...,0.000000,0.000000,1.491803,3.163934,0.278689,0.000000,0.098361,0.038462,7136.138655,2008.252101
New Jersey,0.000000,0.000000,2624.630252,2472.294118,138.081081,36.815126,1.924370,0.009852,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5200.071429,2008.252101
New Mexico,440.907563,0.000000,3622.752101,3994.231092,262.531532,212.256303,0.029412,3.448276,6.438424,0.125000,...,0.000000,0.000000,3.377049,3.262295,0.409836,0.125000,0.262295,0.038462,9365.474790,2008.252101
New York,3511.542017,982.225806,4585.264706,12077.647059,650.432432,86.399160,57.050420,9.660099,0.389163,0.240385,...,2.862069,4.192308,276.131148,196.704918,14.442623,6.392857,6.836066,0.711538,20910.806723,2008.252101
North Carolina,17510.592437,0.000000,706.899160,13049.373950,499.045045,162.747899,0.000000,11.364532,22.458128,0.413462,...,4.068966,2.730769,4.163934,13.983607,1.508197,0.410714,1.098361,0.288462,34839.470588,2008.252101
North Dakota,472.840336,0.000000,954.310924,2557.848739,62.288288,48.310924,0.609244,0.655172,1.256158,0.125000,...,0.000000,0.000000,2.557377,6.163934,0.540984,0.053571,0.049180,0.115385,4225.903361,2008.252101
Ohio,2254.638655,278.838710,17078.508403,16123.340336,1122.297297,806.995798,0.130252,12.798030,37.665025,0.875000,...,0.000000,0.000000,19.901639,12.163934,1.262295,0.892857,0.639344,0.250000,38456.521008,2008.252101
Oklahoma,0.155462,0.000000,7961.920168,8968.512605,681.297297,580.445378,0.302521,10.763547,18.935961,0.250000,...,0.000000,0.000000,23.704918,20.295082,3.688525,0.964286,0.934426,0.211538,20563.453782,2008.252101
Oregon,393.344538,10.225806,7580.491597,8992.831933,0.009009,199.109244,0.466387,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17180.000000,2008.252101
Pennsylvania,7544.403361,0.000000,11239.512605,40093.193277,52.585586,249.521008,31.869748,0.014778,0.044335,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,59293.365546,2008.252101
Puerto Rico,0.000000,0.000000,748.201681,141.605042,23.450450,18.260504,0.000000,0.177340,0.098522,0.028846,...,0.000000,0.000000,0.163934,0.049180,0.065574,0.250000,0.131148,0.038462,922.100840,2008.252101
Rhode Island,0.000000,0.000000,631.176471,545.936975,48.630631,106.596639,0.000000,0.024631,0.029557,0.028846,...,0.000000,0.000000,6.918033,3.393443,0.524590,0.535714,0.524590,0.019231,1313.361345,2008.252101
South Carolina,4197.226891,288.741935,6184.710084,5923.415966,343.459459,231.773109,0.584034,5.615764,6.334975,0.259615,...,0.000000,0.000000,7.278689,4.885246,0.459016,0.464286,0.278689,0.153846,18051.369748,2008.252101
South Dakota,197.184874,0.000000,1440.823529,3404.037815,122.936937,90.651261,0.088235,0.679803,1.512315,0.057692,...,0.000000,0.000000,2.114754,4.475410,0.393443,0.089286,0.081967,0.019231,5467.344538,2008.252101
Tennessee,5561.407563,2022.483871,14275.806723,12771.852941,293.090090,493.084034,0.172269,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33510.268908,2008.252101
Texas,13611.415966,0.000000,29470.210084,33814.088235,2110.864865,1687.180672,143.189076,46.502463,50.088670,1.173077,...,0.241379,0.000000,38.081967,30.180328,4.295082,1.321429,1.557377,0.346154,87985.302521,2008.252101
Utah,12327.348739,54.677419,2561.432773,4104.075630,134.594595,106.836134,0.016807,0.467980,0.361386,0.230769,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19419.752101,2008.252101
Vermont,0.008403,0.000000,855.113445,1273.298319,61.963964,38.100840,0.117647,0.009901,0.044554,0.019231,...,0.000000,0.000000,0.901639,1.032787,0.098361,0.089286,0.032787,0.000000,2197.235294,2008.252101
Virgin Islands,54.666667,0.000000,15.374449,2.052632,0.081081,0.298319,0.004444,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.065574,0.000000,0.000000,0.000000,0.000000,0.000000,68.689076,2008.252101
Virginia,171.080169,2.645161,13168.411765,12717.453782,864.693694,177.533613,1.336134,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26641.697479,2008.252101
Washington,7693.684874,60.677419,9289.584034,9156.235294,1133.891892,393.268908,14.340336,5.192118,7.246305,0.663462,...,0.000000,0.000000,425.409836,338.737705,25.262295,4.696429,6.196721,0.634615,29177.752101,2008.252101
West Virginia,631.063025,0.000000,4506.151261,6646.512605,197.666667,299.966387,2.054622,4.635468,10.073892,0.105769,...,0.000000,0.000000,11.180328,8.688525,0.622951,0.232143,0.327869,0.096154,14454.352941,2008.252101
Wisconsin,3801.138655,0.064516,7312.857143,11743.571429,481.828829,18.819328,0.004202,0.162562,2.236453,1.423077,...,0.000000,0.000000,1.393443,9.049180,0.278689,0.017857,0.262295,0.019231,23377.634454,2008.252101
Wyoming,353.785714,10.774194,1265.021008,1936.378151,73.252252,76.873950,4.710084,1.719212,5.394089,0.067308,...,0.000000,0.000000,2.311475,3.524590,0.213115,0.160714,0.360656,0.019231,3989.894958,2008.252101

In [237]:
longgun_by_state = guns.groupby(['state'])['long_gun'].mean()
longgun_by_state

state
Alabama                 11372.970588
Alaska                   2532.453782
Arizona                  6600.239496
Arkansas                 7287.176471
California              26194.651261
Colorado                12110.436975
Connecticut              2780.008403
Delaware                 1090.584034
District of Columbia        2.676471
Florida                 17136.605042
Georgia                 10051.823529
Guam                       27.378151
Hawaii                      0.147059
Idaho                    3919.302521
Illinois                10156.621849
Indiana                 10410.806723
Iowa                     3373.873950
Kansas                   5678.945378
Kentucky                 9792.373950
Louisiana               10074.189076
Maine                    3161.474790
Mariana Islands             1.117904
Maryland                 4620.436975
Massachusetts            1943.626050
Michigan                12474.567227
Minnesota               10507.126050
Mississippi              7538.903361
Missouri                13675.533613
Montana                  4224.962185
Nebraska                 2371.739496
Nevada                   2766.907563
New Hampshire            2614.050420
New Jersey               2472.294118
New Mexico               3994.231092
New York                12077.647059
North Carolina          13049.373950
North Dakota             2557.848739
Ohio                    16123.340336
Oklahoma                 8968.512605
Oregon                   8992.831933
Pennsylvania            40093.193277
Puerto Rico               141.605042
Rhode Island              545.936975
South Carolina           5923.415966
South Dakota             3404.037815
Tennessee               12771.852941
Texas                   33814.088235
Utah                     4104.075630
Vermont                  1273.298319
Virgin Islands              2.052632
Virginia                12717.453782
Washington               9156.235294
West Virginia            6646.512605
Wisconsin               11743.571429
Wyoming                  1936.378151
Name: long_gun, dtype: float64

In [214]:
handgun_by_state = guns.groupby(['state'])['handgun'].mean()
handgun_by_state

state
Alabama                  9685.390756
Alaska                   1957.785714
Arizona                  8079.386555
Arkansas                 4330.974790
California              26623.558824
Colorado                11518.521008
Connecticut              3939.903361
Delaware                  952.285714
District of Columbia       22.831933
Florida                 27263.991597
Georgia                  9582.962185
Guam                       36.088235
Hawaii                      0.012605
Idaho                    2166.630252
Illinois                11277.823529
Indiana                 10070.235294
Iowa                       84.789916
Kansas                   4190.180672
Kentucky                 7837.222689
Louisiana                8058.483193
Maine                    1997.205882
Mariana Islands             1.502183
Maryland                 2738.701681
Massachusetts            3005.886555
Michigan                 4458.050420
Minnesota                5289.344538
Mississippi              5374.000000
Missouri                11081.810924
Montana                  2094.310924
Nebraska                   59.928571
Nevada                   3419.991597
New Hampshire            2636.600840
New Jersey               2624.630252
New Mexico               3622.752101
New York                 4585.264706
North Carolina            706.899160
North Dakota              954.310924
Ohio                    17078.508403
Oklahoma                 7961.920168
Oregon                   7580.491597
Pennsylvania            11239.512605
Puerto Rico               748.201681
Rhode Island              631.176471
South Carolina           6184.710084
South Dakota             1440.823529
Tennessee               14275.806723
Texas                   29470.210084
Utah                     2561.432773
Vermont                   855.113445
Virgin Islands             15.374449
Virginia                13168.411765
Washington               9289.584034
West Virginia            4506.151261
Wisconsin                7312.857143
Wyoming                  1265.021008
Name: handgun, dtype: float64

In [226]:
more_long_guns = longgun_by_state > handgun_by_state
more_long_guns

state
Alabama                  True
Alaska                   True
Arizona                 False
Arkansas                 True
California              False
Colorado                 True
Connecticut             False
Delaware                 True
District of Columbia    False
Florida                 False
Georgia                  True
Guam                    False
Hawaii                   True
Idaho                    True
Illinois                False
Indiana                  True
Iowa                     True
Kansas                   True
Kentucky                 True
Louisiana                True
Maine                    True
Mariana Islands         False
Maryland                 True
Massachusetts           False
Michigan                 True
Minnesota                True
Mississippi              True
Missouri                 True
Montana                  True
Nebraska                 True
Nevada                  False
New Hampshire           False
New Jersey              False
New Mexico               True
New York                 True
North Carolina           True
North Dakota             True
Ohio                    False
Oklahoma                 True
Oregon                   True
Pennsylvania             True
Puerto Rico             False
Rhode Island            False
South Carolina          False
South Dakota             True
Tennessee               False
Texas                    True
Utah                     True
Vermont                  True
Virgin Islands          False
Virginia                False
Washington              False
West Virginia            True
Wisconsin                True
Wyoming                  True
dtype: bool

In [227]:
states_with_more_long_guns = sum(more_long_guns)
states_with_more_long_guns

35

In [228]:
more_handguns = longgun_by_state < handgun_by_state
more_handguns

state
Alabama                 False
Alaska                  False
Arizona                  True
Arkansas                False
California               True
Colorado                False
Connecticut              True
Delaware                False
District of Columbia     True
Florida                  True
Georgia                 False
Guam                     True
Hawaii                  False
Idaho                   False
Illinois                 True
Indiana                 False
Iowa                    False
Kansas                  False
Kentucky                False
Louisiana               False
Maine                   False
Mariana Islands          True
Maryland                False
Massachusetts            True
Michigan                False
Minnesota               False
Mississippi             False
Missouri                False
Montana                 False
Nebraska                False
Nevada                   True
New Hampshire            True
New Jersey               True
New Mexico              False
New York                False
North Carolina          False
North Dakota            False
Ohio                     True
Oklahoma                False
Oregon                  False
Pennsylvania            False
Puerto Rico              True
Rhode Island             True
South Carolina           True
South Dakota            False
Tennessee                True
Texas                   False
Utah                    False
Vermont                 False
Virgin Islands           True
Virginia                 True
Washington               True
West Virginia           False
Wisconsin               False
Wyoming                 False
dtype: bool

In [230]:
states_with_more_handguns = sum(more_handguns)
states_with_more_handguns

20

In [236]:
assert states_with_more_long_guns == 35
assert states_with_more_handguns == 20